.Great-Customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20rem 0;
}
.Great-Customers__logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 6rem;
    margin-top: 2rem;
}
.Great-Customers__logo{
    width: 20rem;
    height: 4rem;
}

/* responsive */

