.Great-team-user__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--App-bg) ;
    box-shadow: -10px 30px 70px 0px var(--About-Grea-team-shadow);
    border: 1px solid var(--box) ;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}
.Great-team-user__img{
    margin-bottom: 2.8rem;
    width: 100%;
}
.Great-team-user__name{
    margin-bottom: 1.2rem;
    color: var(--Text-Dark);
}
.Great-team-user__job{
    margin-bottom: 3.2rem;
}


/* responsive */

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media (min-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 768px;
    }
    .Great-team-user__name{
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 600;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 576px;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
    }
}