
.Great-Customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20rem 0;
}
.Great-Customers__logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 6rem;
    margin-top: 2rem;
}
.Great-Customers__logo{
    width: 20rem;
    height: 4rem;
}

/* responsive */


.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media (min-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 768px;
    }
    .Great-Customers__text{
        font-weight: 400;
        font-size: 2rem;
        line-height: 3.2rem;
        letter-spacing: 0.1px;
        max-width: 62rem;
    }
    .Great-Customers__caption{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    
}
@media (max-width: 768px) {
    .container{
        max-width: 576px;
    }
    .Great-Customers__text{
        max-width: 42rem;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
    }
    .Great-Customers__text{
        max-width: 20rem;
    }
}