header{
    z-index: 100;
    position: static;
    right: 0;
    left: 0;
    background-color: var(--App-bg);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.8rem;
    z-index: 100;
    padding-bottom: 2.8rem;
    
}
.app-logo-wrapper,.app-logo-wrapper-dark{
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--primery-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 10px 30px 0px rgba(76, 64, 247, 0.5);
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}
.app-logo{
    width: 2rem;
    height: 2rem;
}
.header__menu{
    display: flex;
    align-items: center;
    column-gap: 8.2rem;
}
.header__menu-item{
    color: var(--Text-Grey);
}
.header__menu-item--active{
    color: var(--section-title);
}
.header__btn,.header__btn-moblie{
    width: 16rem;
    height: 6.4rem;
    background-color: var(--primery-color);
    box-shadow: -5px 10px 30px 0px rgba(76, 64, 247, 0.5);
    color: #FFFFFF;
    text-align: center;
    align-content: center;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}
.header__mobile-btn-wrapper{
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
}
.header__mobile-btn{
    width: 3rem;
    height: 0.3rem;
    background-color: var(--mobile-menu-bg);
    position:relative;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}
.header__mobile-btn::after,
.header__mobile-btn::before{
    content: "";
    width: 3rem;
    height: 0.3rem;
    background-color: var(--mobile-menu-bg);
    position: absolute;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.header__mobile-btn::after{
    top: 0.7rem;
}
.header__mobile-btn::before{
    top: -0.7rem;
}
.close.header__mobile-btn{
    background-color: transparent;
}
.close.header__mobile-btn::after{
    transform: translateY(-0.7rem) rotate(-45deg);
    -webkit-transform: translateY(-0.7rem) rotate(-45deg);
    -moz-transform: translateY(-0.7rem) rotate(-45deg);
    -ms-transform: translateY(-0.7rem) rotate(-45deg);
    -o-transform: translateY(-0.7rem) rotate(-45deg);
}
.close.header__mobile-btn::before{
    transform: translateY(0.7rem) rotate(45deg);
    -webkit-transform: translateY(0.7rem) rotate(45deg);
    -moz-transform: translateY(0.7rem) rotate(45deg);
    -ms-transform: translateY(0.7rem) rotate(45deg);
    -o-transform: translateY(0.7rem) rotate(45deg);
}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 20%);
    z-index: -1;
    opacity: 0;   
    display: none;
}
.cover--show{
    z-index: 99;
    opacity: 1;
    display: block;
}
.header-right{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
#night-btn{
    width: 4rem;
    padding: 0.3rem 0.3rem;
    display: flex;
    align-items: center;
    background-color: var(--primery-color);
    border-radius: 1rem;
    -webkit-border-radisu: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}
.light-btn{
    justify-content: end;
}
.dark-btn{
   justify-content: start;
}
.night-mode-btn{
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--App-bg);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.header__mobile-menu{
    display: none;
    width: 25rem;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: -25rem;
    background-color: var(--mobile-menu-bg);
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 0 0 0  ;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}
.header__mobile-menu--open{
    left: 0;
}
.header__mobile-menu-top{
    padding: 0 1.5rem;
}
.header__mobile-menu-head{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFFFFF;
}
.header__mobile-menu-title{
    color: #FFFFFF;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 500;
}
.header__mobile-menu-iteme-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 2rem;
    user-select: none;
}
.header__mobile-menu-iteme-wrapper > div {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #FFFFFF;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    margin-left: -0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.header__mobile-menu-iteme{
    color: #FFFFFF;
}
.header__mobile-menu-btn{
    width: 100%;
    height: 4.8rem;
    display: block;
    text-align: center;
    align-content: center;
    background-color: var(--mobile-menu-color);
    box-shadow: -5px 10px 30px 0px rgba(76, 64, 247, 0.5);
    color: #FFFFFF;
    margin-top: 2rem;
}
.app-logo-wrapper-dark{
    background-color: var(--mobile-menu-color);
}

/* responsive */

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media (min-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1440px) {
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
}@media (max-width: 992px) {
    .container{
        max-width: 768px;
    }
    .header__btn{
        width: 12.7rem;
        height: 4.8rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 576px;
    }
    .header__menu{
        column-gap: 5rem;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
    }
    .header-right,.header__menu{
        display: none;
    }
    .header__mobile-btn-wrapper{
        display: flex;
    }
    .header__mobile-menu{
        display: flex;
       
    }
}