
/* ///// reset ///// */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ///// font ///// */


@font-face {
    font-family: Poppins;
    src: url(../public/Poppins-Regular.ttf);
}

/* ///// main ///// */


:root{
    --App-bg: #FFFFFF;
    --primery-color : #4C40F7;
    --secendey-color : #FF6800;
    --secondary-color-2 : #FE9602;
    --secondary-color-3 : #FFCC00;
    --Text-Dark : #111029;
    --Text-Grey : #6B6B6B;
    --tertiary :#FF2D59;
    --green :#4ADB61;
    --App-bg2 :#F9F9FD;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
.project-svg{
    display: none;
}
body{
    font-family: "Poppins";
    background-color: var(--App-bg);
}

/* ///// reset ///// */

a{
  text-decoration: none;  
}

/*////// components //////*/
.h2{
    font-size: 5.6rem;
    line-height: 7.2rem;
    letter-spacing: 0.4px;
    font-weight: 600;
}
.h3{
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 5.6rem;
    letter-spacing: -0.1px;
}
.h4{
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 600;
    letter-spacing: 0.15px;
}
.h5{
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
}
.h6{
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 600;
}
.body{
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 400;
    color: var(--Text-Grey);
}
.body2{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
}
.table-button{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: var(--App-bg);
}
.menu{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}
.Quote{
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: 0.1px;
}
.Quote2{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0.1px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 6.4rem;
    column-gap: 1rem;
    background-color: var(--primery-color);
    box-shadow: -5px 10px 30px 0px rgba(76, 64, 247, 0.5);
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}
.arrow-btn-wrapper{
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F6;
    border-radius:100% ;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    -ms-border-radius:100% ;
    -o-border-radius:100% ;
}

.arrow-btn{
    width: 1.2rem;
    height: 1.2rem;
    color: var(--primery-color);
}
.section-name{
    color: var(--tertiary);
    margin-bottom: 2rem;
    
}
.section-title{
    color: var(--Text-Dark);
    text-align: center;
    max-width: 112rem;
    margin-bottom: 6rem;
}

/* ////// App Main ///// */

/* ///////// main-top ////////// */

.main-top{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    column-gap: -10rem;
}
.main-top__left{
    margin-top: 11.3rem;
}
.main-top__title{
    width: 57rem;
    margin-bottom: 2.4rem;
}
.main-top__title-line{
    color: var(--secendey-color) ;
}
.main-top__caption{
    width: 46.5rem;
    margin-bottom: 2.4rem;
}
.main-top__btn > svg{
    width: 3rem;
    height: 1.8rem;
}
.main-top__right{ 
    position: absolute;
    right: -10rem;
    z-index: -1;
    margin-top: 2rem;
}

/* ///////// Services ////////// */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

.services__box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3.2rem;
    row-gap: 6rem;
}
.services__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4.4rem 3rem ;
    transition: all 200ms;
    background-color: var(--App-bg);
    box-shadow: -10px 30px 70px 0px rgba(219, 222, 225, 0.4);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}
.services__box-icon-wrapper{
    width: 9.7rem;
    height: 9.7rem;
    margin-bottom: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.services__box-icon{
    color: var(--App-bg);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services__box-title{
    margin-bottom: 1.6rem;
}
.services__box-caption{
    max-width: 29.2rem;
    text-align: center;
    margin-bottom: 4.4rem;
}

.services__box-icon-wrapper--color1{
    background-color: var(--primery-color);
    box-shadow: 0px 15px 30px 0px rgba(76, 64, 247, 0.5);
}
.services__box-icon-wrapper--color2{
    background-color: var(--tertiary);
    box-shadow: 0px 15px 30px 0px rgba(255, 45, 89, 0.4);
}
.services__box-icon-wrapper--color3{
    background-color: #4ADB61;
    box-shadow: 0px 15px 30px 0px rgba(74, 219, 97, 0.4);
}
.services__box-icon-wrapper--color4{
    background-color: #FFCC00;
    box-shadow: 0px 15px 30px 0px rgba(255, 204, 0, 0.4);
}
.services__box-icon-wrapper--color5{
    background-color: #007BFF;
    box-shadow: 0px 15px 30px 0px rgba(0, 123, 255, 0.4);
}
.services__box-icon-wrapper--color6{
    background-color: #FF6800;
    box-shadow: 0px 15px 30px 0px rgba(255, 104, 0, 0.4);    
}
.services__box:hover{
    background-color: var(--primery-color);
}
.services__box:hover .services__box-icon-wrapper{
    background-color: var(--App-bg);
    box-shadow: 0px 15px 30px 0px rgba(55, 45, 188, 1);
}
.services__box:hover .services__box-icon{
    color: var(--primery-color);
}
.services__box:hover .services__box-title{
  color: var(--App-bg);
}
.services__box:hover .services__box-caption{
    color: var(--App-bg);
}

/* ///////// Documentation ////////// */
.section-Documentation1{
    position: relative;
    z-index: 5;
    background-color: var(--App-bg2);
}
.Documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}
.Documentation__title{
    margin-bottom: 6rem;
}
.Documentation__img{
    width: 100%;
}
.Documentation__left-shape{
    position: absolute;
    top: 25rem;
    left: 0rem;
    z-index: -1;
    left: -2rem;
}
.Documentation__right-shape{
    position: absolute;
    top: 25rem;
    right: 0rem;
    z-index: -1;
    right: 0rem;
}
.section-Documentation2{
    background-color: var(--App-bg2);
    padding-top: 10rem;
}
.Documentation-b{
    display: flex;
    column-gap: 8rem;
}
.Documentation-b__left{
    display: flex;
    width: 50%;
    gap: 4rem;
}
.Documentation-b__boxs{
    padding: 7.2rem  2.8rem;
    background-color: var(--App-bg);
    box-shadow: 0px 25px 100px 0px rgba(76, 64, 247, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 25px 100px 0px rgba(76, 64, 247, 0.08);
    row-gap: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.Documentation-b__box-wrapper1{
    margin-top: 5.6rem;
}
.Documentation-b__boxs-number-blue{
    color: var(--primery-color);

}
.Documentation-b__boxs-number-orange{
    color: var(--secendey-color);
}
.Documentation-b__boxs-number-red{
    color: var(--tertiary);
}
.Documentation-b__boxs-number-green{
    color: var(--green);
}
.Documentation-b__boxs-text{
    max-width: 21.4rem;
    text-align: center;
}
.Documentation-b__boxs-mt{
    margin-bottom: 4rem;
}
.Documentation-b__boxs-pb{
    padding: 5.6rem 2.8rem;
}
.Documentation-b__right{
    width: 50%;
    margin-bottom: 10rem;
}
.Documentation-b__title{
    max-width: 48rem;
    margin-bottom: 3.5rem;
}
.Documentation-b__caption{
    max-width: 46rem;
}
.Documentation-b__menu{
    margin-top: 3.5rem;
}
.Documentation-b__manu-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.6rem;
    column-gap: 2.4rem;
}
.Documentation-b__manu-items-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.4rem;
    min-height: 2.4rem;
    background-color: var(--primery-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.tik{
    width: 1.6rem;
    height: 1.6rem;
    color: #ffffff;
}

/* ///////// Great Question ////////// */


.question{
    padding: 20rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question__content-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    width: 100%;
}
.question__box{
    border: 1px solid #D8D8D8 ;
    background-color: var(--App-bg);
    padding: 3.2rem 3.2rem 0 3.2rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}
.question__text{
    color: var(--Text-Dark);
    padding-bottom: 2.8rem;
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question__arrow{
    width: 2.4rem;
    height: 2.4rem;
    
}
.question__arrow--rotate{
    transform:rotate(180deg) ;
    -webkit-transform:rotate(180deg) ;
    -moz-transform:rotate(180deg) ;
    -ms-transform:rotate(180deg) ;
    -o-transform:rotate(180deg) ;
}
.question__caption{
    color: var(--Text-Grey);
    border-top: 1px solid #D8D8D8;
    padding: 2.8rem 0;
}
.question-section{
    position: relative;
}
.question__left-shape{
    position: absolute;
    top: 15rem;
    left: 0;
    bottom: 24rem;
    z-index: -1;
    width: 40%;
    height: 80rem; 
}
.question__right-shape{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 20%;
    height: 20%; 
}





/*////// responsiv //////*/


.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (min-width: 1440px) {
    .container{
        max-width: 1240px;
    }
    .Documentation__left-shape{
        left: -10rem; 
        width: 90%;    
        height: 70%;
    }
    .Documentation__right-shape{
        right: 0rem;     
        width: 40%;    
        height: 70%;
    }
}
@media (max-width: 1440px) {
    .container{
        max-width: 1240px;
    }
    .main-top__right{
        margin-top: 5rem;
        right: 0;
    }
    .main-top__right-img{
        width: 77.4rem;
        height: 54rem;
    }
   
}
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
    .main-top__right-img{
        width: 60rem;
        height: 42rem;
    }
    .main-top__title{
        font-size: 4.76rem;
        line-height: 6.12rem;
    }
    .main-top__caption{
        font-size: 1.53rem;
        line-height: 2.72rem;
        width: 42.5rem;
    }
    .Documentation__left-shape{
        left: -10rem; 
        width: 90%;    
        height: 70%;
    }
    .Documentation__right-shape{
        right: 0rem;     
        width: 40%;    
        height: 70%;
    }
    .Documentation-b{
        column-gap: 5.3rem;
    }
    .Documentation-b__boxs-number{
        font-weight: 600;
        font-size: 4.2rem;
        line-height: 5.6rem;
        letter-spacing: -0.1px;
    }
    .Documentation-b__boxs{
        padding: 5.8rem 2.8rem ;
    }
    .Documentation-b__title{
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 600;
    }
    .Documentation-b__caption,.Documentation-b__manu-items,.Documentation-b__boxs-text{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    .question__left-shape{
        height: 75rem;
    }
    
}


@media (max-width: 992px) {
    .container{
        max-width: 768px;
    }
    .main-top__right-img{
        width: 47rem;
        height: 33.5rem;
    }
    .main-top__right{
        right: 0rem;
    }
    .main-top__title{
        font-size: 3.2rem;
        line-height: 4.8rem;
        letter-spacing: 0.15px;
        width: 37rem;
    }
    .main-top__caption{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
        width: 33rem;
    }
    .br{
        display: none;
    }
    .section-title{
        font-size: 2.4rem;
        line-height: 3.2rem;
        max-width: 60rem;
    }
    .Documentation__left-shape{
        left: -10rem; 
        width: 90%;    
        height: 60%;
    }
    .Documentation__right-shape{
        right: 0rem;     
        width: 50%;    
        height: 70%;
        top: 18.2rem;
    }
    .Documentation-b{
        column-gap: 3rem;
    }
    .Documentation-b__left{
        width: 70%;
    }
    .question__right-shape{
        width: 30%;
    }
    .question__caption{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
    }


}   
@media (max-width: 768px) {
    .container{
        max-width: 576px;
    }
    .main-top{
        flex-wrap: wrap-reverse;
    }
    .main-top__right{
        position: static;
        margin-top: 2rem;
    }
    .main-top__right-img{
        width: 100%;
        height: 100%;
        left: 0;
    }
    .main-top__left{
        margin-top: 10rem;
    }
    .main-top__title{
        width: 42rem;
    }
    .main-top__caption{
        width: 45rem;
    }
    .main-top__btn{
        width: 18rem;
        height: 4.8rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    .services{
        margin-top: 12rem;
    }
    .section-name{
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    .section-title{
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .Documentation{
        margin-top: 12rem;
    }
    .Documentation__img{
        width: 95%;
    }
    .Documentation__left-shape{
        left: -10rem; 
        width: 95%;    
        height: 65.5%;
        top: 19em;
    }
    .Documentation__right-shape{
        right: -0;     
        width: 50%;    
        height: 68%;
        top: 17.6rem;
    }
    .Documentation-b__title{
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .Documentation-b{
        flex-direction: column;
    }
    .Documentation-b__left{
        width: 100%;
        flex-direction: column;
        margin-bottom: 8rem;
    }
    .Documentation-b__right{
        width: 100%;
    }
    .question__left-shape{
        height: 70rem;
    }
    .question__text-wraapper{
        width: 90%;
    }
    .question__box{
        padding: 2.4rem 2.4rem 0 2.4rem;
    }

}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
    }
    .main-top__left{
        margin-top: 5rem;
    }
    .main-top__title{
        font-size: 2.4rem;
        line-height: 3.2rem;
        width: auto;
    }
    .main-top__caption{
        width: auto;
    }   
    .Documentation__left-shape{
        left: 0; 
        width: 95%;    
        height: 57.5%;
        top: 19em;
    }
    .Documentation__right-shape{
        right: 0;     
        width: 40%;    
        height: 60%;
        top: 18rem;
    }
    .question__right-shape{
        height: 10%;
    }
    .question__left-shape{
        height: 50rem;
    }
}